html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.home-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-welcome {
    text-shadow: 4px 4px 6px rgba(52, 105, 141, 0.8)
}

#box {
    width: 400px;
    height: 400px;
    margin: 40px 0;
    border: 1px solid black;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.home-stuff {
    color: blue;
    font-weight: 900;
    font-size: 10px;
}

.home-stuff > span {
    background: yellow;
}

.home-stuff button {
    border-radius: 10px;
    font-family: cursive;
}

.home-link-button {
    animation: myFade 2s infinite;
}


@keyframes myFade {
    0% { opacity: 1; }
    50% { opacity: 0.2; }
    100% { opacity: 1; }
}

@media (max-width: 800px) {
    #box {
        width: 300px;
        background: beige;
    }
}